.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.first-paragraph{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}